node_modules/
*.json !package*.json
*.log
.env
.DS_Store
src/data/*.json
assss*
asss*
tests/           
*.test.js       
coverage/       
*.config.js
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Arquivos de sistema operacional
.DS_Store
Thumbs.db